body {
    background-color: rgb(54, 54, 70);
    background-image: url("../imgs/minesbg.jpg");
    background-repeat: space;
    background-position-x: center;
   }

img {
    width: 40px;
}

table {
    display: inline-block;
    border-spacing: 0px;
    margin: auto;

}

.game-block {
    margin-left:30% ;
    margin-top: 50px;
}



.checkBoardCell {
    border: 1px black solid;
}

.smiley {

    margin-left: 5%;
    margin-right: auto;
}

.smiley :hover {
    
    cursor: pointer;
}

.difficultyForm {
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.66);
    display: inline-block;
}


.difficultyText {
    margin-left: 10px;
    display: inline;
    color: chocolate;
    font: bold 20px Arial, sans-serif;
}


.flags {
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.66);
    font: bold 20px Arial, sans-serif;
    color: rgb(180, 24, 24);
    display: inline;
}

.time-box {
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.66);
    color: chartreuse;
    font: bold 20px Arial, sans-serif;
    margin-left: 7.5%;
    margin-right: auto;
}

.lives-left {
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.66);
    font: bold 20px Arial, sans-serif;
    color: rgb(221, 166, 48);
    display: inline-block;
}

.hint-button {
    display: inline-block;
}

.hint-img {
    height: 60px;
    width: 60px;
}

.hint-text {
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.66);
    font: bold 20px Arial, sans-serif;
    color: rgb(64, 218, 230);
    display: inline-block;
}